@import url(https://fonts.googleapis.com/css?family=Fjalla+One|Passion+One);

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px)

html, body {
   width:100%;
    height:100%;
    margin:0;
    padding:0;
    text-decoration: none;
}
h1 { font-family: 'Passion One', cursive;   color: #501515;
position: absolute;
top: 20px;}
.main
{ 
background-color: white;
height: 700px;
  width: 100% ;
  margin-left: auto ;
  margin-right: auto ;
   
}
.icon1 {
background-color: #265744;
width: 100%;
}
.icon2 {
background-color: #c49a2d;
width: 100%;
}
.icon3 {
background-color: #157294;
width: 100%;
}
.icon4 {
background-color: #5a181d;
width: 100%;
}
.icon5 {
background-color: white;
width: 100%;
}
.icon6 {
background-color: #83469b;
width: 100%;
}
.icon7 {
background-color: black;
width: 100%;
}
.icon8 {
background-color: #596d57;
width: 100%;
}
.icon9 {
background-color: #dd1f27;
width: 100%;
}
.icon10 {
background-color: #4c4c4d;
width: 100%;
}
.icon11 {
background-color: #477738;
width: 100%;
}
.icon12 {
background-color: #4f1415;
width: 100%;
}
h1 {
    font-size: 2.5em;
}

@media screen and (max-width: 50em) {
    h1 {
        font-size:2em;
    }
}

@media screen and (max-width: 40em) {
    h1 {
        font-size:1.5em;
    }
}

@media screen and (max-width: 30em) {
    h1 {
        font-size:1.2em;
    }
}
}
h2 {
    font-size: 2.5em;
}

@media screen and (max-width: 50em) {
    h2 {
        font-size:2em;
    }
}

@media screen and (max-width: 40em) {
    h2 {
        font-size:1.5em;
    }
}

@media screen and (max-width: 30em) {
    h2 {
        font-size:1.2em;
    }
}

.kickass {
left: -20px;
font-size: 68px;
position: relative;
right: 40px;
color: #eeea48;
width: 100%;
  margin-left: auto ;
  margin-right: auto ;
}
.scorpion {
left: -20px;
font-size: 68px;
position: relative;
right: 40px;
color: #eeea48;
width: 100%;
  margin-left: auto ;
  margin-right: auto ;
}
.subzero {
left: -20px;
font-size: 68px;
position: relative;
right: 40px;
color: white;
width: 100%;
  margin-left: auto ;
  margin-right: auto ;
}
.deadpool {
left: -20px;
font-size: 68px;
position: relative;
right: 40px;
color: black;
width: 100%;
  margin-left: auto ;
  margin-right: auto ;
}
.stormtrooper {
left: -20px;
font-size: 68px;
position: relative;
right: 40px;
color: #328a87;
width: 100%;
  margin-left: auto ;
  margin-right: auto ;
}
.darthvader {
left: -20px;
font-size: 68px;
position: relative;
right: 40px;
color: white;
width: 100%;
  margin-left: auto ;
  margin-right: auto ;
}
.darthmaul {
left: -20px;
font-size: 68px;
position: relative;
right: 40px;
color: #b53631;
width: 100%;
  margin-left: auto ;
  margin-right: auto ;
}
.bobafett {
left: -20px;
font-size: 68px;
position: relative;
right: 40px;
color: white;
width: 100%;
  margin-left: auto ;
  margin-right: auto ;
}
.spiderman {
left: -20px;
font-size: 68px;
position: relative;
right: 40px;
color: black;
width: 100%;
  margin-left: auto ;
  margin-right: auto ;
}
.venom {
left: -20px;
font-size: 68px;
position: relative;
right: 40px;
color: white;
width: 100%;
  margin-left: auto ;
  margin-right: auto ;
}
.fallout{
left: -20px;
font-size: 68px;
position: relative;
right: 40px;
color: white;
width: 100%;
  margin-left: auto ;
  margin-right: auto ;
}

.ironman{
left: -20px;
font-size: 68px;
position: relative;
right: 40px;
color: #f2b928;
width: 100%;
  margin-left: auto ;
  margin-right: auto ;
}




.button a {
  display: block;
  height: 50px;
  width: 200px;
  background: #00b7ea;

  /*TYPE*/
  color: white;
  font: 17px/50px Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  


-webkit-border-radius: 10px;
   -moz-border-radius: 10px;
        border-radius: 10px;


-webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
   -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
        box-shadow: 2px 2px 8px rgba(0,0,0,0.2);

background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* IE10+ */
background: linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */

}

































.box {
height: 100%;
    width:100%;
    text-align:center;
}


.button {
top: 485px;
display: inline-block;
left: 50px;
right: 50px;
text-align: center;
width: 50px;
 height: 50px;  
}
.iconimg {

  margin-left: auto;
  margin-right: auto;
}
    
    
.buttonimg1 {
position:absolute; 
top: 125px; 
left: 50px; 
right: 50px;
z-index: 3;
margin: auto;
 width: 15%;
 }
 @-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}
 